.galleri_container {
  padding: 50px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, 0.5fr);
  grid-template-areas: "a b b" "a c d" "e e d" "f g g" "f h i" "j k i" "j l l";
  gap: 1rem;
}
.galleri_container div {
  overflow: hidden;
}
.galleri_container div span {
  transition: ease-in-out 500ms;
}
.galleri_container div:hover span {
  -webkit-transform: scale(1.1);
}

.box1 {
  grid-area: a;
}

.box2 {
  grid-area: b;
}

.box3 {
  grid-area: c;
}

.box4 {
  grid-area: d;
}

.box5 {
  grid-area: e;
}

.box6 {
  grid-area: f;
}

.box7 {
  grid-area: g;
}

.box8 {
  grid-area: h;
}

.box9 {
  grid-area: i;
}

.box10 {
  grid-area: j;
}

.box11 {
  grid-area: k;
}

.box12 {
  grid-area: l;
}

.galleri_title {
  text-align: center;
  font-size: 40px;
}