@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
}

.logoContainer {
  max-width: 1500px;
  z-index: 9999;
  height: 50px;
  margin: 0 auto;
  position: relative;
}
.logoContainer .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.linkContainer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  max-width: 1520px;
  margin: 0 auto;
}

.iconContainer {
  margin-top: 17px;
  margin-left: 40%;
  display: flex;
}
.iconContainer div {
  margin-left: 15px;
}

nav {
  overflow: hidden;
  background-color: #162e44;
  height: 60px;
  position: relative;
  z-index: 9999;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 12px 36px 8px 0;
  font-size: 28px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.app {
  padding-top: 60px;
}

@media only screen and (max-width: 1600px) {
  .iconContainer {
    margin-left: 20%;
  }
  nav a {
    padding: 18px 36px 8px 0;
    font-size: 20px;
  }
}
@media only screen and (max-width: 950px) {
  .iconContainer {
    margin-left: 10px;
  }
  nav a {
    padding: 20px 20px 8px 0;
    font-size: 16px;
  }
}
.footer_icon {
  color: #01b3a7;
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  max-width: 1520px;
  margin: 0 auto;
}

.footer_kontakt {
  padding-top: 50px;
}
.footer_kontakt p {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer_container {
  height: 300px;
  background-color: #162e44;
}

.footer_fast_links {
  color: #ffffff;
  padding-top: 50px;
}
.footer_fast_links p {
  margin-left: 40px;
}

.footer_links {
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.footer_links ul {
  margin-left: 20px;
  list-style: none;
}
.footer_links ul li::before {
  content: "•"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #01b3a7; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  font-size: 22px;
}
.footer_links ul a {
  color: #ffffff;
  text-decoration: none;
}

.footer_btn {
  padding: 15px 20px;
  margin-left: 40px;
  background-color: #01b3a7;
  border: none;
  color: #ffffff;
}

.cpr_container {
  margin-top: -20px;
  background-color: #0f2030;
  height: 50px;
}

.cpr {
  max-width: 1520px;
  margin: 0 auto;
  padding-top: 5px;
}
.cpr p {
  color: gray;
}

header {
  height: 900px;
  position: relative;
  overflow: hidden;
}

.slideshow {
  margin: 0 auto;
  max-width: 1920px;
  position: absolute;
  transition: ease-in-out 1s;
  z-index: 0;
}

.slideshowSlider {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.image_wrapper {
  display: block;
  margin-top: -10px;
  position: relative;
}

.image_text_container {
  position: absolute;
  color: white;
  z-index: 1;
  top: 90%;
  left: 10%;
  transition: ease-in 2.5s;
  opacity: 0;
}

.image_text_container.active {
  opacity: 1;
  top: 50%;
}

.image_title {
  font-size: 25px;
  margin: 0;
}

.image_content {
  margin: 0;
  font-size: 70px;
}

/*Slide Buttons */
.slideshowDots {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 9996;
  display: flex;
  flex-direction: column;
}

.slideshowDot {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px 25px;
  background-color: rgba(128, 128, 128, 0.669);
  cursor: pointer;
}
.slideshowDot:hover {
  background-color: rgba(1, 179, 167, 0.7176470588);
}

.slideshowDot.active {
  background-color: rgba(1, 179, 167, 0.7176470588);
}

.grey_background {
  background-color: rgba(211, 211, 211, 0.221);
  width: 100%;
}

.vores_tur_container {
  max-width: 850px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.vores_tur_btn1 {
  position: absolute;
  z-index: 3;
  left: 0;
  top: -50px;
}

.vores_tur_btn2 {
  position: absolute;
  z-index: 4;
  right: 0;
  top: -50px;
}

.vores_tur_btn_image {
  position: relative;
  overflow: hidden;
}
.vores_tur_btn_image:hover span {
  transition: ease-in-out 500ms;
  -webkit-transform: scale(1.1);
}

.vores_tur_text {
  position: absolute;
  color: #ffffff;
  left: 160px;
  bottom: 15%;
  z-index: 5;
  font-size: 30px;
}

.svg_container {
  position: absolute;
  bottom: 10%;
  left: 55%;
  width: 50px;
  overflow: hidden;
}
.svg_container .arrow {
  transition: ease-in-out 500ms;
  transform: translateX(-22px);
  cursor: pointer;
}

.vores_tur_link {
  position: absolute;
  bottom: 13%;
  left: 44%;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.om_os_container {
  padding-top: 100px;
  max-width: 1200px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.om_os_info {
  position: relative;
  max-width: 556px;
  height: 382px;
}
.om_os_info h3 {
  color: #01b3a7;
}
.om_os_info h3::after {
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  top: 90px;
  position: absolute;
  z-index: 9;
  background: linear-gradient(to right, #01b3a7 50%, rgba(211, 211, 211, 0.221) 50%);
}

.om_os_btn {
  position: absolute;
  bottom: 20px;
  padding: 20px 55px;
  background-color: #01b3a7;
  color: #fff;
  border: none;
}

.vores_team_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.team_person_container {
  position: relative;
  height: 180px;
  width: 200px;
  background-color: rgba(211, 211, 211, 0.221);
}

.team_person {
  position: absolute;
  bottom: 18px;
  left: 15%;
  right: 15%;
}

.team_image {
  border: solid white 10px;
  border-radius: 120px;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.team_title {
  text-align: center;
  margin-top: -300px;
  margin-bottom: 200px;
}