@charset "UTF-8";
@font-face {
  font-family: "bigmug";
  src: url("../src/Roboto-Regular.ttf");
}
p, h1, h2, h3, a {
  font-family: "bigmug";
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
}

.logoContainer {
  max-width: 1500px;
  z-index: 9999;
  height: 50px;
  margin: 0 auto;
  position: relative;
}
.logoContainer .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.linkContainer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  max-width: 1520px;
  margin: 0 auto;
}

.iconContainer {
  margin-top: 5px;
  margin-left: 30%;
  display: flex;
}
.iconContainer div {
  margin-left: 15px;
  cursor: pointer;
}

.nav_link.active a {
  background-color: rgba(211, 211, 211, 0.429);
  transition: ease-in-out 500ms;
}
.nav_link.active a::before {
  content: "";
  width: 92%;
  height: 4px;
  left: -2px;
  top: -14px;
  position: absolute;
  z-index: 11;
  background: #01b3a7;
}

@-webkit-keyframes navEffect {
  from {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes navEffect {
  from {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0px);
  }
}
nav {
  background-color: #162e44;
  height: 60px;
  position: relative;
  z-index: 9999;
}
nav ul {
  padding: 14px;
  list-style-type: none;
}
nav ul li {
  position: relative;
}
nav ul li .top_link {
  color: #ffffff;
  text-decoration: none;
  padding: 14px 14px;
  margin-right: 12px;
  font-size: 28px;
  transition: ease-out 600ms;
}
nav ul li .top_link:hover {
  background-color: rgba(211, 211, 211, 0.429);
}
nav ul li .top_link:hover::after {
  content: "";
  width: 92%;
  height: 4px;
  left: -2px;
  top: -14px;
  position: absolute;
  z-index: 11;
  -webkit-animation: navEffect 600ms ease-out;
          animation: navEffect 600ms ease-out;
  background: #01b3a7;
}
nav ul li ul {
  display: none;
}
nav ul li:hover ul {
  display: block;
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 0px;
  padding: 0;
  background-color: #ffffff;
}
nav ul li:hover ul li {
  width: 150px;
  padding: 14px 0;
}
nav ul li:hover ul li:hover {
  background-color: rgba(211, 211, 211, 0.429);
}
nav ul li:hover ul li .sub_link {
  color: black;
  text-decoration: none;
  padding: 14px 14px;
  font-size: 20px;
  transition: ease-out 600ms;
}
nav ul li:hover ul li .sub_link:hover {
  margin-left: 10px;
  transition: ease-in-out 300ms;
}
nav ul li:hover ul li .sub_link:hover::after {
  content: "";
  width: 5px;
  height: 50%;
  left: 15px;
  top: 13px;
  position: absolute;
  z-index: 11;
  background: #01b3a7;
  opacity: 0;
  -webkit-animation: subEffect 300ms ease-in-out forwards;
          animation: subEffect 300ms ease-in-out forwards;
}

@-webkit-keyframes subEffect {
  from {
    opacity: 0;
    left: 15px;
  }
  to {
    opacity: 1;
    left: 5px;
  }
}

@keyframes subEffect {
  from {
    opacity: 0;
    left: 15px;
  }
  to {
    opacity: 1;
    left: 5px;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.app {
  padding-top: 60px;
}

@media only screen and (max-width: 1600px) {
  .iconContainer {
    margin-left: 20%;
  }
  nav a {
    padding: 18px 36px 8px 0;
    font-size: 20px;
  }
}
@media only screen and (max-width: 950px) {
  .iconContainer {
    margin-left: 10px;
  }
  nav a {
    padding: 20px 20px 8px 0;
    font-size: 16px;
  }
}
.footer_icon {
  color: #01b3a7;
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  max-width: 1520px;
  margin: 0 auto;
}

.footer_kontakt {
  padding-top: 50px;
}
.footer_kontakt h4 {
  color: white;
}
.footer_kontakt p {
  margin-bottom: 20px;
  color: #ffffff;
}
.footer_kontakt p:hover {
  color: #01b3a7;
}

.footer_container {
  height: 300px;
  background-color: #162e44;
}

.footer_fast_links {
  color: #ffffff;
  padding-top: 50px;
}
.footer_fast_links p {
  margin-left: 40px;
}

.footer_links {
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.footer_links ul {
  margin-left: 20px;
  list-style: none;
}
.footer_links ul li::before {
  content: "•"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #01b3a7; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  font-size: 22px;
}
.footer_links ul a {
  color: #ffffff;
  text-decoration: none;
}
.footer_links ul a:hover {
  color: #01b3a7;
}

.footer_btn {
  padding: 15px 20px;
  margin-left: 40px;
  background-color: #01b3a7;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.footer_btn:hover {
  background-color: black;
}

.to_top_btn {
  transition: ease-in-out 500ms;
  position: fixed;
  background-color: #01b3a7;
  bottom: -200px;
  right: 50px;
  padding: 0 15px;
  font-size: 40px;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  color: white;
}
.to_top_btn a {
  text-decoration: none;
  color: white;
}
.to_top_btn:hover {
  background-color: black;
}

.to_top_btn_active {
  transition: ease-in-out 500ms;
  position: fixed;
  z-index: 15;
  background-color: #01b3a7;
  bottom: 200px;
  right: 50px;
  padding: 0 15px;
  font-size: 40px;
  cursor: pointer;
  border-radius: 2px;
}
.to_top_btn_active:hover {
  background-color: black;
}
.to_top_btn_active a {
  text-decoration: none;
  color: white;
}

.cpr_container {
  position: relative;
  margin-top: -20px;
  background-color: #0f2030;
  height: 50px;
}

.cpr {
  max-width: 1520px;
  margin: 0 auto;
  padding-top: 5px;
}
.cpr p {
  color: gray;
}

header {
  height: 900px;
  position: relative;
  overflow: hidden;
}

.slideshow {
  margin: 0 auto;
  max-width: 1920px;
  position: absolute;
  transition: ease-in-out 1s;
  z-index: -999;
}

.slideshowSlider {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.image_wrapper {
  display: block;
  margin-top: -10px;
  position: relative;
}

.image_text_container {
  position: absolute;
  color: white;
  z-index: 1;
  top: 70%;
  left: 10%;
  transition: ease-in 2.5s;
  opacity: 0;
}

.image_text_container.active {
  opacity: 1;
  top: 50%;
}

.image_title {
  font-size: 25px;
  margin: 0;
}

.image_content {
  margin: 0;
  font-size: 70px;
}

/*Slide Buttons */
.slideshowDots {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 9996;
  display: flex;
  flex-direction: column;
}

.slideshowDot {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px 25px;
  background-color: rgba(128, 128, 128, 0.669);
  cursor: pointer;
}
.slideshowDot:hover {
  background-color: rgba(1, 179, 167, 0.7176470588);
}

.slideshowDot.active {
  background-color: rgba(1, 179, 167, 0.7176470588);
}

.grey_background {
  background-color: rgba(211, 211, 211, 0.221);
  width: 100%;
}

.vores_tur_container {
  max-width: 850px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.vores_tur_btn1 {
  position: absolute;
  z-index: 3;
  left: 0;
  top: -50px;
}

.vores_tur_btn2 {
  position: absolute;
  z-index: 4;
  right: 0;
  top: -50px;
}

.vores_tur_btn_image {
  position: relative;
  overflow: hidden;
}
.vores_tur_btn_image span {
  transition: ease-in-out 500ms;
}
.vores_tur_btn_image:hover span {
  -webkit-transform: scale(1.1);
}

.vores_tur_text {
  position: absolute;
  color: #ffffff;
  left: 160px;
  bottom: 15%;
  z-index: 5;
  font-size: 30px;
}

.svg_container {
  position: absolute;
  bottom: 10%;
  left: 55%;
  width: 50px;
  overflow: hidden;
}
.svg_container .arrow {
  transition: ease-in-out 500ms;
  transform: translateX(-22px);
  cursor: pointer;
}

.vores_tur_link {
  position: absolute;
  bottom: 13%;
  left: 44%;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.om_os_container {
  padding-top: 100px;
  max-width: 1200px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.om_os_info {
  position: relative;
  max-width: 556px;
  height: 382px;
}
.om_os_info h2 {
  font-size: 35px;
  margin: 0;
}
.om_os_info h3 {
  color: #01b3a7;
  font-size: 30px;
}
.om_os_info h3::after {
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  top: 115px;
  position: absolute;
  z-index: 9;
  background: linear-gradient(to right, #01b3a7 50%, rgba(211, 211, 211, 0.221) 50%);
}

.om_os_btn {
  position: absolute;
  bottom: 20px;
  padding: 20px 55px;
  background-color: #01b3a7;
  color: #fff;
  border: none;
  cursor: pointer;
}
.om_os_btn:hover {
  border: black solid 2px;
  background-color: white;
  color: black;
}

.vores_team_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.team_person_container {
  position: relative;
  height: 180px;
  width: 200px;
  background-color: rgba(211, 211, 211, 0.221);
}

.team_person {
  position: absolute;
  bottom: 18px;
  left: 15%;
  right: 15%;
  text-align: center;
}

.team_image {
  border: solid white 10px;
  border-radius: 120px;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.team_title {
  text-align: center;
  margin-top: -300px;
  margin-bottom: 200px;
  font-size: 40px;
}

.person_title {
  color: #01b3a7;
}

.person_name {
  font-weight: bold;
}

.news_mail_container {
  max-width: 1920px;
  height: 490px;
}

.news_top {
  background-image: url("../src/newsmail-bg.jpg");
  background-position: 1920px 400px;
  max-width: 1920px;
  height: 40px;
}

.news_mid {
  max-width: 1920px;
  background-image: url("../src/newsmail-bg.jpg");
  background-size: 150%;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news_bottom {
  background-image: url("../src/newsmail-bg.jpg");
  background-position: 1920px 500px;
  background-size: 120%;
  max-width: 1920px;
  height: 50px;
}

.news_text {
  color: white;
  text-align: center;
}

.news_title {
  font-size: 65px;
  margin: 0;
}

.news_content {
  font-size: 20px;
}

.news_tilmeld {
  position: relative;
}
.news_tilmeld input[type=email] {
  background-color: rgba(211, 211, 211, 0.429);
  width: 300px;
  height: 50px;
  border: none;
  color: white;
  padding-left: 20px;
  font-size: 18px;
}
.news_tilmeld input[type=email]::-moz-placeholder {
  color: white;
}
.news_tilmeld input[type=email]:-ms-input-placeholder {
  color: white;
}
.news_tilmeld input[type=email]::placeholder {
  color: white;
}
.news_tilmeld input[type=email]:focus {
  outline-color: rgba(1, 179, 167, 0.6470588235);
}
.news_tilmeld button {
  width: 110px;
  height: 52px;
  margin-left: 10px;
  background-color: #01b3a7;
  color: white;
  border: none;
  cursor: pointer;
}
.news_tilmeld button:hover {
  background-color: black;
}
.news_tilmeld .required {
  position: absolute;
  left: 50%;
  top: -10%;
  color: white;
  font-size: 10px;
}

.hidden {
  opacity: 0;
}