html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 120vh;
}

nav {
  background-color: #162e44;
  height: 60px;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 12px 36px 8px 0;
  font-size: 28px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}