* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e2019;
}

.prev {
  left: 0;
  position: absolute;
}

.next {
  right: 0;
  position: absolute;
}

.search_container {
  position: absolute;
  right: 0;
  top: 0.1vw;
}
.search_container input {
  height: 1.7vw;
  margin-right: 1vw;
}

.cls-1 {
  fill: #fff;
}

.cls-1, .cls-2 {
  fill-rule: evenodd;
}

.cls-2, .cls-3 {
  fill: #ef7d00;
}

.cls-3 {
  stroke: #ef7d00;
  stroke-miterlimit: 10;
  stroke-width: 0.22px;
}

.svg {
  width: 3vw;
  margin-left: 3.5vw;
}