body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
}

th {
  padding: 2px 5px;
  border: 1px solid black;
}

tr {
  padding: 2px 5px;
  border: 1px solid black;
}

td {
  padding: 2px 5px;
  border: 1px solid black;
  text-align: center;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  grid-template: "a b" "c d";
}

.box1 {
  grid-area: a;
}

.box2 {
  grid-area: b;
}

.box3 {
  grid-area: d;
}

.box4 {
  grid-area: c;
}
p {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template: "a" "b" "d" "c";
  }
  p {
    font-size: 24px;
  }
}